<div *ngIf="reqDatas.length; else loading">
  <div class="form-control">
    <input [(ngModel)]="searchStr" placeholder="Найти заявку..." type="text">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Дата создания</th>
      <th>Тематика</th>
      <th>Тип рекламного блока</th>
      <th>Начало и конец размещения</th>
      <th>Договор</th>
      <th>Оплата</th>
      <th *ngIf="auth.checkRole(role.AdManager)">Подтверждение</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reqData of filterItemsOfType(auth.username) | searchReqDatas:searchStr; let idx = index">
      <td>{{idx + 1}}</td>
      <!--      <td>{{reqData.creationDate | date: 'medium': null: 'ru'}}</td>-->
      <td>{{reqData.creationDate | date: 'dd-MM-yyyy hh:mm'}}
      <td>{{reqData.subject}}</td>
      <td>{{reqData.type}}</td>
      <td>{{reqData.startDate | date: 'dd-MM-yyyy'}} до {{reqData.endDate | date: 'dd-MM-yyyy'}}</td>
      <td>
        <div *ngIf="auth.checkRole(role.AdManager)">
          <div *ngIf="!reqData.confirm">
            Заявка ожидает подтверждения...
          </div>
          <button (click)="contract($event, reqData)"
                  *ngIf="reqData.confirm && !reqData.contract"
                  class="btn btn-success">
            Сформировать
          </button>
          <button *ngIf="reqData.confirm && reqData.contract"
                  [routerLink]="['/cabinet', 'admanager', 'contract', reqData.id]"
                  class="btn btn-success">
            Посмотреть
          </button>
        </div>

        <div *ngIf="auth.checkRole(role.User)">
          <div *ngIf="!reqData.contract">
            Формируется...
          </div>
          <button (click)="signature($event, reqData)"
                  *ngIf="reqData.contract && !reqData.signature"
                  class="btn btn-success">
            Подписать
          </button>
          <button *ngIf="reqData.contract && reqData.signature"
                  [routerLink]="['/cabinet', 'user', 'contract', reqData.id]"
                  class="btn btn-success">
            Посмотреть
          </button>
        </div>
      </td>
      <td>
        <div *ngIf="auth.checkRole(role.User)">
          <button (click)="buy($event, reqData)"
                  *ngIf="reqData.confirm && !reqData.payed && reqData.signature"
                  class="btn btn-success">
            Оплатить
          </button>

          <div *ngIf="reqData.confirm && !reqData.payed && !reqData.signature">
            Подпишите договор
          </div>
        </div>

        <div *ngIf="auth.checkRole(role.AdManager)">
          <div *ngIf="reqData.confirm && !reqData.payed">
            Ожидает оплаты...
          </div>
        </div>

        <div *ngIf="!reqData.confirm && !reqData.payed">
          Ожидает подтверждения...
        </div>
        <div *ngIf="reqData.confirm && reqData.payed">
          Оплачено
        </div>

      </td>
      <td *ngIf="auth.checkRole(role.AdManager)">
        <button (click)="confirm($event, reqData)"
                *ngIf="!reqData.confirm"
                class="btn btn-success">
          Подтвердить заявку
        </button>
        <div *ngIf="reqData.confirm">
          Заявка подтверждена!
        </div>
      </td>

      <td>
        <button *ngIf="auth.checkRole(role.AdManager)"
                [routerLink]="['/cabinet', 'admanager', 'request', reqData.id, 'edit']"
                class="btn btn-light open">
          Открыть
        </button>
        <button *ngIf="auth.checkRole(role.User)"
                [routerLink]="['/cabinet', 'user', 'request', reqData.id, 'edit']"
                class="btn btn-light open">
          Открыть
        </button>

        <button (click)="remove(reqData.id)"
                class="btn btn-danger">
          Удалить
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
