<div *ngIf="reqDatas.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Найти заявку..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Дата создания</th>
      <th>Тематика</th>
      <th>Тип рекламного блока</th>
      <th>Дата начала размещения</th>
      <th>Дата окончания размещения</th>
      <th>Действие</th>
      <th>Оплата</th>
      <th *ngIf="auth.checkRole(role.AdManager)">Подтверждение</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reqData of reqDatas | searchReqDatas:searchStr; let idx = index">
      <td>{{idx + 1}}</td>
      <!--      <td>{{reqData.creationDate | date: 'medium': null: 'ru'}}</td>-->
      <td>{{reqData.creationDate | date: 'dd-MM-yyyy hh:mm'}}
      <td>{{reqData.subject}}</td>
      <td>{{reqData.type}}</td>
      <td>{{reqData.startDate | date: 'dd-MM-yyyy'}}</td>
      <td>{{reqData.endDate | date: 'dd-MM-yyyy'}}</td>

      <td>
        <button *ngIf="auth.checkRole(role.AdManager)"
                class="btn btn-link open"
                [routerLink]="['/cabinet', 'admanager', 'request', reqData.id, 'edit']">
          Открыть
        </button>
        <button *ngIf="auth.checkRole(role.User)"
                class="btn btn-link open"
                [routerLink]="['/cabinet', 'user', 'request', reqData.id, 'edit']">
          Открыть
        </button>
        <a (click)="remove(reqData.id)">Удалить</a>
      </td>
      <td>
        <div *ngIf="auth.checkRole(role.User)">
          <button *ngIf="reqData.confirm && !reqData.payed"
                  class="btn btn-success"
                  (click)="buy($event, reqData)">
            Оплатить
          </button>
        </div>

        <div *ngIf="auth.checkRole(role.AdManager)">
          <div *ngIf="reqData.confirm && !reqData.payed">
            Ожидает оплаты...
          </div>
        </div>

        <div *ngIf="!reqData.confirm && !reqData.payed">
          Ожидает подтверждения...
        </div>
        <div *ngIf="reqData.confirm && reqData.payed">
          Оплачено
        </div>

      </td>
      <td *ngIf="auth.checkRole(role.AdManager)">
        <button *ngIf="!reqData.confirm"
                class="btn btn-success"
                (click)="confirm($event, reqData)">
          Подтвердить заявку
        </button>
        <div *ngIf="reqData.confirm">
          Заявка подтверждена!
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
