<form (ngSubmit)="submit()" [formGroup]="form" class="card">
  <h2>Регистрация</h2>

  <div *ngIf="auth.error$ | async as error" class="alert alert-danger">
    {{error}}
  </div>

  <div *ngIf="message" class="alert alert-info">
    {{message}}
  </div>

  <div
    [ngClass]="{invalid: form.get('username').touched && form.get('username').invalid}"
    class="form-control">
    <label for="username">Логин:</label>
    <input formControlName="username" id="username" type="text">
    <div
      *ngIf="form.get('username').touched && form.get('username').invalid"
      class="validation">
      <small *ngIf="form.get('username').errors.required">
        Введите логин:
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control">
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors.required">
        Введите поле Email
      </small>
      <small *ngIf="form.get('email').errors.email">
        Email некорректный
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
    class="form-control">
    <label for="name">Имя:</label>
    <input formControlName="name" id="name" type="text">
    <div
      *ngIf="form.get('name').touched && form.get('name').invalid"
      class="validation">
      <small *ngIf="form.get('name').errors.required">
        Введите свое имя
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('surname').touched && form.get('surname').invalid}"
    class="form-control">
    <label for="surname">Фамилия:</label>
    <input formControlName="surname" id="surname" type="text">
    <div
      *ngIf="form.get('surname').touched && form.get('surname').invalid"
      class="validation">
      <small *ngIf="form.get('surname').errors.required">
        Введите свою Фамилию
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control">
    <label for="password">Пароль:</label>
    <input formControlName="password" id="password" type="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small *ngIf="form.get('password').errors.required">
        Введите пароль
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас он
        {{form.get('password').errors.minlength.actualLength}}
        символа.
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('confirmPassword').touched && form.get('confirmPassword').invalid}"
    class="form-control">
    <label for="confirmPassword">Повторите пароль:</label>
    <input formControlName="confirmPassword" id="confirmPassword" type="password">
    <div
      *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid
      || form.get('confirmPassword').touched && form.errors != null && form.errors.passwordNotMatch == true"
      class="validation">
      <small *ngIf="form.errors.passwordNotMatch != null">
        Пароли не совпадают
      </small>
    </div>
  </div>

  <button
    [disabled]="form.invalid || submitted"
    class="btn btn-primary"
    type="submit"> Зарегистрироваться
  </button>
</form>
