<div>

  <p>1. ПРЕДМЕТ ДОГОВОРА<br>
    Заказчик поручает, а Исполнитель принимает на себя обязательства по:</p>

  <p> Подготовке рекламной информации, предоставленной Заказчиком, для размещения на WEB-сайте www.localhost:8080 (далее
    - сайте).<br>
    Размещению рекламы, предоставленной Заказчиком на сайте.</p>

  <br>
  <p> 2. ПРАВА И ОБЯЗАННОСТИ СТОРОН<br>
    2.1. Исполнитель обязуется осуществить приведение рекламной информации, предоставленной Заказчиком к готовой для
    размещения на сайте форме.</p>

  <p> 2.2. Исполнитель обязуется разместить рекламу, предоставленную Заказчиком в форме Заказа, указанном в Приложении
    №2 к настоящему договору, на сайте в порядке и на срок, установленный настоящим Договором или дополнительными
    соглашениями к нему.</p>

  <p> 2.3. По настоящему Договору Заказчик получает право на определяемый Заказом объем рекламного поля страницы сайта
    для размещения в рамках указанного объема либо:</p>

  <p> самостоятельно разработанного оригинал - макета рекламного объявления;<br>
    переданных Исполнителю рекламных материалов (фирменного знака, логотипа, рисунков, фотографий, текста) с
    формированием оригинал - макета рекламного объявления Исполнителем. В этом случае Заказчиком может быть предложен
    общий эскиз рекламного блока.<br>
    2.4. Конкретное место расположения рекламного материала определяется по согласованию с Заказчиком и фиксируется в
    Заказе.</p>

  <p> 2.5. Исполнитель не приобретает права собственности на переданные ему Заказчиком материалы, необходимые для
    формирования рекламного объявления, и не может использовать их в своих интересах.</p>

  <p> 2.6. Заказчик несет полную ответственность за содержание и достоверность рекламной информации, передаваемой
    Исполнителю для размещения на сайте, в соответствии с действующим законодательством Российской Федерации. В случае,
    если деятельность Заказчика подлежит лицензированию, то при рекламе соответствующей услуги, а также при рекламе
    самого Заказчика, последний обязан предоставить Исполнителю надлежаще заверенную копию соответствующей лицензии.</p>

  <p> 2.7. Исполнитель имеет право отказать Заказчику в размещении его рекламного объявления на сайте, если в нем
    содержится информация противная интересам Исполнителя либо противоречащая законодательству РФ.</p>

  <p> 2.8. Исполнитель несет материальную ответственность перед Заказчиком за ошибки в опубликованном рекламном
    материале, допущенные по вине Исполнителя. При обнаружении таких ошибок Заказчик вправе потребовать от Исполнителя
    возмещения убытков, который он понес вследствие искажения рекламной информации.</p>

  <p> 2.9. Заказчик обязан в разумный срок предоставлять рекламную информацию:</p>

  <p> для подготовки ее к размещению на сайте;<br>
    для размещения на сайте.<br>
    2.10. Заказчик обязан своевременно оплачивать услуги Исполнителя в соответствии с условиями настоящего Договора.</p>
  <br>
  <br>
  <p> 3. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ<br>
    3.1. Стоимость размещения рекламного материала на сайте определяется на основании стоимости услуг, приведенных в
    Приложении №1 к настоящему Договору, являющимся неотъемлемой частью настоящего Договора, и Заказа. В Заказе
    указываются сроки размещения рекламы. Сроки размещения рекламы не могут быть менее указанных в Приложении №1 к
    настоящему договору. Окончательная стоимость указывается в Заказе.</p>

  <p> 3.2. Заказчик оплачивает Исполнителю полную стоимость, указанную в Заказе, в течение 2 (двух) рабочих дней с
    момента размещения рекламы на сайте.</p>

  <p> 3.3. Изготовление рекламного баннера оплачивается Заказчиком в течение 2 (двух) рабочих дней с момента передачи
    Исполнителем Заказчику эскиза рекламного баннера.</p>

  <p> 3.4. Оплата производится в рублях безналичным платежом на расчетный счет Исполнителя.</p><br>
  <br>
  <p> 4. ОСОБЫЕ УСЛОВИЯ<br>
    4.1. При размещении рекламной информации Заказчика на сайте в виде рекламного баннера, последний демонстрируется
    пользователям сайта в чередовании с иными баннерами. При этом Исполнитель гарантирует, что количество показов
    коммерческих баннеров превышает количество показов баннеров партнеров и иных баннеров не коммерческого характера.
  </p>

  <p> 4.2. При публикации Исполнителем рекламной информации Заказчика в виде статьи на первой странице, Исполнитель
    размещает в верхнем левом углу страницы указание на рекламный характер размещенного материала.</p>

  <p> 4.3. Все возникающие в период действия настоящего Договора разногласия решаются путем переговоров сторон, а при не
    достижении соглашения - передаются на рассмотрение в арбитражный суд ________________________.</p>

  <p> 4.2. Все отношения и обстоятельства, не предусмотренные текстом настоящего Договора, регулируются действующим
    законодательством.</p><br>
  <br>
  <p> 5. СРОК ДЕЙСТВИЯ ДОГОВОРА<br>
    5.1. Договор вступает в силу с момента его подписания сторонами и действует до момента исполнения своих обязательств
    сторонами Договора.</p><br>
  <br>
  <p> 6. АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН</p>

  <br>
  <h2>Заказчик:</h2>
  <div *ngIf="reqData != null; else loading">{{reqData.legalData}}</div>
  <br>
  <br>
  <h2>Испольнитель:</h2>
  <p><br>
    Почтовый адрес:<br>
    1279946, г. Москва,<br>
    Страстной бульвар, д. 57<br>
    Телефон: 694-24-06-00,<br>
    факс: 694-22-81-00</p>

  <h2>Стоимость:</h2>
  <div *ngIf="reqData != null; else loading">{{reqData.cost}} рублей.</div>
  <br>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
