<div *ngIf="reqData$ | async as reqData; else loading">
  <div class="post">
    <div class="header">
      <h1>{{reqData.subject}}</h1>

      <button class="btn btn-link" routerLink="/">На главную</button>
    </div>

    <div class="info">
      <strong>{{reqData.creator}}</strong>
<!--      <small>{{reqData.creationDate | date: 'medium':null:'ru'}}</small>-->
      <small>{{reqData.creationDate | date: 'dd-MM-yyyy'}}</small>
    </div>

    <div>
      <quill-view-html [content]="reqData.wishes">

      </quill-view-html>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка поста...</p>
</ng-template>
