<div *ngIf="form; else loading">
  <button (click)="buy($event)"
          *ngIf="reqData.confirm && !reqData.payed"
          class="btn btn-dark">
    Оплатить рекламный блок
  </button>

  <form (ngSubmit)="submit()" [formGroup]="form">

    <div
      class="form-control">
      <label for="startDate">Дата создания заявки: {{reqData.creationDate | date: 'dd-MM-yyyy'}}</label>
    </div>

    <div
      class="form-control">
      <label for="startDate">Создатель заявки: {{reqData.creator}}</label>
    </div>

    <div
      [ngClass]="{invalid: form.get('type').touched && form.get('type').invalid}"
      class="form-control">
      <label for="subject">Тип рекламного блока:</label>
      <select formControlName="type" id="type">
        <option [value]="null">Select one...</option>
        <option *ngFor="let type of ePropertyType | keyvalue" [ngValue]="type.value">{{type.value}}</option>
      </select>
      <div
        *ngIf="form.get('type').touched && form.get('type').invalid"
        class="validation">
        <small *ngIf="form.get('type').errors.required">
          Введите тип рекламного блока
        </small>
      </div>
    </div>

    <div
      [ngClass]="{invalid: form.get('subject').touched && form.get('subject').invalid}"
      class="form-control">
      <label for="subject">Тематика:</label>
      <input formControlName="subject" id="subject" type="text">
      <div
        *ngIf="form.get('subject').touched && form.get('subject').invalid"
        class="validation">
        <small *ngIf="form.get('subject').errors.required">
          Введите тематику
        </small>
      </div>
    </div>

    <div
      [ngClass]="{invalid: form.get('startDate').touched && form.get('startDate').invalid}"
      class="form-control">
      <label for="startDate">Дата начала размещения: </label>
      <dp-date-picker #dayPicker formControlName="startDate" id="startDate" theme="dp-material"></dp-date-picker>
      <div
        *ngIf="form.get('startDate').touched && form.get('startDate').invalid"
        class="validation">
        <small *ngIf="form.get('startDate').errors.required">
          Введите дату начала размещения рекламного блока
        </small>
      </div>
    </div>

    <div
      [ngClass]="{invalid: form.get('endDate').touched && form.get('endDate').invalid}"
      class="form-control">
      <label for="endDate">Дата окончания размещения: </label>
      <dp-date-picker #dayPicker formControlName="endDate" id="endDate" theme="dp-material"></dp-date-picker>
      <div
        *ngIf="form.get('endDate').touched && form.get('endDate').invalid"
        class="validation">
        <small *ngIf="form.get('endDate').errors.required">
          Введите дату окончания размещения рекламного блока
        </small>
      </div>
    </div>

    <div
      [ngClass]="{invalid: form.get('legalData').touched && form.get('legalData').invalid}"
      class="form-control">
      <label for="legalData">Юридические данные:</label>
      <input formControlName="legalData" id="legalData" type="text">
      <div
        *ngIf="form.get('legalData').touched && form.get('legalData').invalid"
        class="validation">
        <small *ngIf="form.get('legalData').errors.required">
          Введите юридические данные
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Пожелания:</label>
      <quill-editor formControlName="wishes"></quill-editor>
    </div>

    <button
      [disabled]="form.invalid || submitted"
      class="btn btn-primary"
      type="submit">
      Обновить
    </button>

  </form>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
