<div *ngIf="news.length; else loading">
  <div class="form-control">
    <input [(ngModel)]="searchStr" placeholder="Найти новость..." type="text">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Заголовок</th>
      <th>Аннотация</th>
      <th>Просмотр</th>
      <th>Репортаж</th>
      <th>Блок</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tmpNews of filterNewsByAvailability()| searchNews:searchStr; let idx = index">
      <td>{{tmpNews.id}}</td>
      <td>{{tmpNews.article}}
      <td>
        <div>
          <quill-view-html [content]="(tmpNews.body | striphtml | slice:0:100) + '...'">
          </quill-view-html>
        </div>
      </td>

      <td>
        <button [routerLink]="['/cabinet', 'infomanager', 'reader', tmpNews.id]"
                class="btn btn-light open">
          Открыть
        </button>
      </td>

      <td>
        <button (click)="realization($event, tmpNews)"
                class="btn btn-success open">
          Реализовать
        </button>
      </td>

      <td>
        <button (click)="block($event, tmpNews)"
                class="btn btn-danger">
          Блок
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
