<app-alert></app-alert>

<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">News admin</a>
  </h1>

  <ul *ngIf="auth.isAuthenticated()">
    <li *ngIf="auth.checkRole(role.User)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'user','dashboard']">Главная</a>
    </li>
    <li *ngIf="auth.checkRole(role.AdManager)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'admanager','dashboard']">Главная</a>
    </li>
    <li *ngIf="auth.checkRole(role.InfoManager)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'infomanager','news']">Главная</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/cabinet','profile']">Профиль</a>
    </li>
    <li *ngIf="auth.checkRole(role.InfoManager)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'infomanager','report']">Репортажи</a>
    </li>
    <li *ngIf="auth.checkRole(role.Reporter)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'reporter','report']">Репортажи</a>
    </li>
    <li *ngIf="auth.checkRole(role.Reporter)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'reporter','dashboard']">Текущие репортажи</a>
    </li>
    <li *ngIf="auth.checkRole(role.User)" routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'user','create']">Создать</a>
    </li>
    <li>
      <a (click)="logout($event)" href="#">Выйти</a>
    </li>
  </ul>

  <ul *ngIf="auth.isAuthenticated() == false">
    <li routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'sign-up']">Регистрация</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/cabinet', 'login']">Войти</a>
    </li>
  </ul>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
