<div *ngIf="reports.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Найти репортаж..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Дата создания</th>
      <th>Тема</th>
      <th>Статус</th>
      <th>Комментарий</th>
      <th>Инфо менеджер</th>
      <th *ngIf="auth.checkRole(role.Reporter)">Блокировка</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reportage of filterReportsOfUser(); let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{reportage.startDate | date: 'medium': null: 'ru'}}</td>
      <td>{{reportage.newsArticle}}</td>
      <!--      <td>{{reportage.startDate | date: 'dd-MM-yyyy hh:mm'}}-->
      <td>{{reportage.status}}</td>
      <td *ngIf="reportage.comment==null" style="text-align: center;">-</td>
      <td *ngIf="reportage.comment != null">{{reportage.comment}}</td>
      <td>{{reportage.infoManager}}</td>
      <td *ngIf="auth.checkRole(role.Reporter)">
        <div>
          <button *ngIf="reportage.status == reportageStatus.Created"
                  class="btn btn-success"
                  (click)="lock($event, reportage)">
            Забрать
          </button>
          <button *ngIf="reportage.status == reportageStatus.Inwork"
                  class="btn btn-danger"
                  (click)="unlock($event, reportage)">
            Разблокировать
          </button>

        </div>
      </td>
      <td>
        <button *ngIf="reportage.reporter == this.auth.username"
                class="btn btn-success"
                [routerLink]="['/cabinet', 'reporter', 'report', reportage.id, 'edit']">
          Редактировать
        </button>
        <button *ngIf="reportage.reporter != this.auth.username && this.auth.checkRole(role.Reporter)"
                class="btn btn-light"
                [routerLink]="['/cabinet', 'reporter', 'reportage', reportage.id]">
          Посмотреть
        </button>
        <button *ngIf="reportage.reporter != this.auth.username && this.auth.checkRole(role.InfoManager)"
                class="btn btn-light"
                [routerLink]="['/cabinet', 'infomanager', 'reportage', reportage.id]">
          Посмотреть
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
