<div *ngIf="reports.length; else loading">
  <div class="form-control">
    <input [(ngModel)]="searchStr" placeholder="Найти репортаж..." type="text">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Дата создания</th>
      <th>Тема</th>
      <th>Комментарий</th>
      <th>Инфо менеджер</th>
      <th *ngIf="auth.checkRole(role.Reporter)">Блокировка</th>
      <th>Действие</th>
      <th *ngIf="auth.checkRole(role.Reporter)">Проверка</th>
      <th *ngIf="auth.checkRole(role.InfoManager)">Публикация</th>
      <th *ngIf="auth.checkRole(role.InfoManager)">Корректность</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reportage of filterReportsOfUser(); let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{reportage.startDate | date: 'medium': null: 'ru'}}</td>
      <td>{{reportage.newsArticle}}</td>
      <!--      <td>{{reportage.startDate | date: 'dd-MM-yyyy hh:mm'}}-->
      <!--      <td>{{reportage.status}}</td>-->
      <td *ngIf="reportage.comment=='-'" style="text-align: center;">-</td>
      <td *ngIf="reportage.comment != '-'"><span [innerHTML]="reportage.comment"></span></td>
      <td>{{reportage.infoManager}}</td>
      <td *ngIf="auth.checkRole(role.Reporter)">
        <div>
          <button (click)="lock($event, reportage)"
                  *ngIf="reportage.status == reportageStatus.Created"
                  class="btn btn-success">
            Забрать
          </button>
          <button (click)="unlock($event, reportage)"
                  *ngIf="reportage.status == reportageStatus.Inwork"
                  class="btn btn-danger">
            Разблокировать
          </button>

        </div>
      </td>
      <td>
        <button *ngIf="reportage.reporter == this.auth.username"
                [routerLink]="['/cabinet', 'reporter', 'report', reportage.id, 'edit']"
                class="btn btn-success">
          Редактировать
        </button>
        <button *ngIf="reportage.reporter != this.auth.username && this.auth.checkRole(role.Reporter)"
                [routerLink]="['/cabinet', 'reporter', 'reportage', reportage.id]"
                class="btn btn-light">
          Посмотреть
        </button>
        <button *ngIf="reportage.reporter != this.auth.username && this.auth.checkRole(role.InfoManager)"
                [routerLink]="['/cabinet', 'infomanager', 'reportage', reportage.id]"
                class="btn btn-light">
          Посмотреть
        </button>
      </td>
      <td *ngIf="auth.checkRole(role.Reporter)">
        <button (click)="sendCheck($event, reportage)"
                *ngIf="reportage.text != null && reportage.text.length>100 && !reportage.confirm"
                class="btn btn-light">
          Отправить
        </button>
        <div *ngIf="reportage.text == null || reportage.text != null && reportage.text.length<100">
          Нужно написать статью
        </div>
        <div *ngIf="reportage.confirm">
          Отправлено
        </div>
      </td>
      <td *ngIf="auth.checkRole(role.InfoManager)">
        <button (click)="publish($event, reportage)"
                *ngIf="reportage.confirm == true"
                class="btn btn-danger">
          Опубликовать
        </button>
        <div *ngIf="reportage.confirm == false">
          Статья еще не готова
        </div>
      </td>
      <td *ngIf="auth.checkRole(role.InfoManager)">
        <button (click)="remake($event, reportage)"
                *ngIf="reportage.confirm == true"
                class="btn btn-success">
          На доработку
        </button>
        <div *ngIf="reportage.confirm == false">
          Статья еще не готова
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
