<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание новой заявки</h1>
  
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('subject').touched && form.get('subject').invalid}">
    <label for="subject">Тематика:</label>
    <input id="subject" type="text" formControlName="subject">
    <div
      *ngIf="form.get('subject').touched && form.get('subject').invalid"
      class="validation">
      <small *ngIf="form.get('subject').errors.required">
        Введите тематику
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('startdate').touched && form.get('startdate').invalid}">
    <label for="startdate">Дата начала размещения: </label>
    <dp-date-picker id="startdate" #dayPicker theme="dp-material" formControlName="startdate"></dp-date-picker>
    <div
      *ngIf="form.get('startdate').touched && form.get('startdate').invalid"
      class="validation">
      <small *ngIf="form.get('startdate').errors.required">
        Введите дату начала размещения рекламного блока
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('enddate').touched && form.get('enddate').invalid}">
    <label for="enddate">Дата окончания размещения: </label>
    <dp-date-picker id="enddate" #dayPicker theme="dp-material" formControlName="enddate"></dp-date-picker>
    <div
      *ngIf="form.get('enddate').touched && form.get('enddate').invalid"
      class="validation">
      <small *ngIf="form.get('enddate').errors.required">
        Введите дату окончания размещения рекламного блока
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('legaldata').touched && form.get('legaldata').invalid}">
    <label for="legaldata">Юридические данные:</label>
    <input id="legaldata" type="text" formControlName="legaldata">
    <div
      *ngIf="form.get('legaldata').touched && form.get('legaldata').invalid"
      class="validation">
      <small *ngIf="form.get('legaldata').errors.required">
        Введите юридические данные
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Пожелания:</label>
    <quill-editor formControlName="wishes"></quill-editor>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid">Создать заявку</button>
</form>
